//Create some default variables for branding

//Colours
//Linka blues
$linka-blue: #32a3e5;
$linka-blue_brighter: #38b6ff;
$linka-blue_darker: #195374;
$linka-blue_darker_dark: #010101;
$linka-blue_contrast: #05a3ff;

//Linka greys
$linka-grey: #495456;
$linka-grey_darker: #231f20;

//Complementary
$linka-orange: #38b6ff;
$linka-yellow: #ffdb4f;
$linka-cream: #fdf8f0;
$linka-brown: #c8a47b;
$linka-brow_darker: #96765a;

//Fonts
$linka-font_title: 'Montserrat', sans-serif;
$linka-font_heading: 'Neue Einstellung', sans-serif;
