//Import the variables
@import "_T3-L4";

main{
    display: block;
    width: 100%;
    margin: 8px auto;
    section{
        
        width: 70%;
        margin: 16px auto;

        article{
            width: 100%;
            margin: 32px auto;
            padding: 8px 16px;
            border-radius: 8px;
            background-color: $eigengrau;

            h2,
            h3{
                margin: 32px 0 16px 0;
            }

            p{
                text-indent: 1em;
                line-height: 1.5em;
            }

        }

        #elevator-speech{
            text-align: center;
        }
    }
}