@media only screen and (max-width: 850px) {
    nav{
        width: 100%!important;
    }
    footer{
        .sn{
           
            justify-content: space-around;
            align-items: baseline;
            align-content: stretch;
            img{
                width: 32px;
                
            }
        }
    }
}