@media only screen and (max-width: 810px) {
    footer{
        .sn{
           
            justify-content: space-around;
            align-items: baseline;
            align-content: stretch;
            img{
                width: 32px;
                
            }
        }
    }
}